.text-msg{
  background: #ffffff;
  border-radius: 5px;
  padding: 12px;
  font-size: 13px;
  color: #333333;
  max-width: 300px;
  word-break: break-all;
  white-space: pre-line;
  user-select: text;
}
