.msg{
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row;

  &__left{
    width: 250px;
    height: 100%;
    border-right: 1px solid #d6d6d6;
  }

  &__right{
    width: calc(100% - 251px);
    height: 100%;
  }
}
