@import '@renderer/public/css/base.scss';
@import '@renderer/public/css/color.scss';

.friend-item {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  &__avatar{
    width: 38px;
    height: 38px;
    border-radius: 5px;
    margin-right: 12px;
    overflow: hidden;
  }

  &__info{
    max-width: calc(100% - 50px);
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: flex-start;
    &-real-name{
      font-size: 14px;
      color: $mainFontColor;
      @include ellipsis(1);
    }

    &-nick-name{
      font-size: 12px;
      color: #a2a3a5;
    }
  }
}
