.friend {
  width: 100%;
  height: 100%;
  padding: 0 8px;

  &__header {
    width: 100%;
    height: 60px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    &-title{
      font-size: 18px;
      color: #171a1d;
    }

    &-add {
      font-size: 24px;
      font-weight: 400;
      color: #7d7f7f;
      cursor: pointer;
    }
  }

  &__container{
    width: 100%;
    height: calc(100% - 60px);
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.friend-group-item {
  width: 100%;
  margin-top: 10px;

  &__title{
    width: 100%;
    font-size: 12px;
    margin: 0 8px 6px;
    color: #c8c8ca;
    border-bottom: 2px solid #eaebed;
  }

  &__container{
    width: 100%;
  }
}

.friend-item {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 8px;
  border-radius: 3px;
  &:hover {
    background-color: #eaebed;
  }
  &__avatar{
    width: 38px;
    height: 38px;
    border-radius: 5px;
    margin-right: 12px;
  }

  &__info{
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: flex-start;
    &-real-name{
      font-size: 14px;
      color: #171a1d;
    }

    &-nick-name{
      font-size: 12px;
      color: #a2a3a5;
    }
  }
}
