.chat-box{
  width: 100%;
  height: 100%;
  padding: 5px 20px;

  &__tips{
    width: 100%;
    text-align: center;
    font-size: 12px;
    padding: 5px;
    color: #a2a3a5;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;

    &-icon{
      margin-right: 8px;
    }
  }

  &__inner{
    width: 100%;
  }
}
