.side-layout{
  width: 100%;
  height: 100%;
  position: relative;
  background-color: purple;
  .navigation{
    position: absolute;
    width: 65px;
    height: 100%;
    z-index: 100;
    background-color: plum;
  }

  .container{
    width: 100%;
    height: 100%;
    padding-left: 65px;
    background-color: pink;
  }
}
