@import '@renderer/public/css/base.scss';
.conversation{
  width: 100%;
  height: 100%;
  background-color: #ffffff;

  &__item{
    width: 100%;
    height: 64px;
  }
}

.conversation-item{
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row;
  position: relative;

  &:hover{
    background-color: #eaebed;
  }

  &__avatar{
    width: 64px;
    height: 64px;
    padding: 12px;
  }

  &__info{
    width: calc(100% - 64px);
    height: 100%;
    padding: 12px 12px 12px 0;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__top{
    width: 100%;
    display: flex;
    flex-flow: row;
  }

  &__name{
    min-width: 0;
    display: flex;
    flex-grow: 1;

    &-text{
      width: 100%;
      font-size: 14px;
      color: #000000;
      @include ellipsis(1);
    }
  }

  &__time{
    font-size: 12px;
    color: #a2a3a5;
    white-space: nowrap;
  }

  &__bottom{
    width: 100%;
    display: flex;
    flex-flow: row;
  }

  &__msg{
    min-width: 0;
    display: flex;
    flex-grow: 1;

    &-text{
      width: 100%;
      font-size: 12px;
      color: #a2a3a5;
      @include ellipsis(1);
    }
  }

  &__icon{
    &-no{
      width: 12px;
      height: 12px;
    }
  }

  &__place-top{
    position: absolute;
    top: -7px;
    right: 3px;
    width: 7px;
    height: 7px;
    border: 7px solid transparent;
    border-left: 7px solid #b9d1e8;
    transform: rotate(-45deg);
    transform-origin: 100% 0%;
  }
}
