@import '@renderer/public/css/base.scss';
.right-menu{
  width: 480px;
  height: 100%;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 10;
  box-shadow: -1px 1px 5px #888888;
  background-color: #f5f5f5;
  padding: 0 16px;

  &__title{
    width: 100%;
    height: 66px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
  }

  &__scroll{
    width: 100%;
    height: calc(100% - 66px);
  }

  &__header{
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid #e7e7e7;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;

    &-avatar{
      width: 50px;
      height: 50px;
      border-radius: 5px;
      overflow: hidden;
      margin-right: 10px;

      img {
        border-radius: 5px;
      }
    }

    &-name{
      display: flex;
      flex-flow: row;
      justify-content: flex-start;
      align-items: center;

      &-text{
        font-size: 14px;
        color: #000000;
        @include ellipsis(1);
      }

      &-input{
        width: 180px;
      }

      &-icon{
        margin-left: 12px;
        font-size: 14px;
        color: #171a1d;
      }
    }
  }

  &__member{
    width: 100%;
    padding: 0 8px;
    border-bottom: 1px solid #e7e7e7;

    &-title{
      width: 100%;
      padding: 20px 0;
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      align-items: center;
      font-size: 16px;
      color: #171a1d;
    }

    &-container{
      width: 100%;
      display: flex;
      flex-flow: row wrap;
    }
  }

  &__seting{
    width: 100%;
    padding: 0 8px;
    border-bottom: 1px solid #e7e7e7;

    &-item{
      width: 100%;
      padding: 12px 0;
      font-size: 16px;
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__bottom{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;

    &-btn{
      width: 60%;
    }
  }
}

.member-item{
  width: 66px;
  height: 75px;
  padding:7px 14px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  &__avatar{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    overflow: hidden;
  }
  &__name{
    width: 100%;
    font-size: 14px;
    color: #757778;
    text-align: center;
    @include ellipsis(1);
  }
  &__close{
    position: absolute;
    top: -3px;
    right: 8px;
    color: #ff7875;
    display: none;
    cursor: pointer;
  }

  &:hover{
    .member-item__close{
      display: block;
    }
  }
}
