.address-book{
  width: 100%;
  height: 100%;
  position: relative;
  &__left{
    position: absolute;
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #ffffff;
    border-right: 2px solid #eaebed;
  }

  &__right{
    position: absolute;
    right: 0;
    top: 0px;
    width: calc(100% - 250px);
    height: 100%;
  }

  &__hidden{
    display: none;
  }
}
