* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: "PingFang SC", "Microsoft YaHei", "SimHei", "Helvetica Neue",
        "Hiragino Sans GB";
}

#root{
  width: 100%;
  height: 100%;
}

