@font-face {
  font-family: "iconfont"; /* Project id 2875807 */
  src: url('//at.alicdn.com/t/font_2875807_u7qfo3rczw.woff2?t=1637128621671') format('woff2'),
       url('//at.alicdn.com/t/font_2875807_u7qfo3rczw.woff?t=1637128621671') format('woff'),
       url('//at.alicdn.com/t/font_2875807_u7qfo3rczw.ttf?t=1637128621671') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tianjiahaoyou:before {
  content: "\e626";
}

.icon-wodehaoyou:before {
  content: "\e61c";
}

.icon-xindehaoyou:before {
  content: "\e61d";
}

.icon-tongxunlu:before {
  content: "\e610";
}

.icon-changyonglianxiren1:before {
  content: "\e640";
}

.icon-wodequnzu:before {
  content: "\e6ff";
}

.icon-xiaoxi:before {
  content: "\e86f";
}

.icon-gengduo:before {
  content: "\e60e";
}
