@font-face {
  font-family: "iconfont"; /* Project id 2875807 */
  src: url('//at.alicdn.com/t/font_2875807_h1ey9pafi2k.woff2?t=1641201521069') format('woff2'),
       url('//at.alicdn.com/t/font_2875807_h1ey9pafi2k.woff?t=1641201521069') format('woff'),
       url('//at.alicdn.com/t/font_2875807_h1ey9pafi2k.ttf?t=1641201521069') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bianji:before {
  content: "\e603";
}

.icon-ok:before {
  content: "\e63c";
}

.icon-qita:before {
  content: "\e6d5";
}

.icon-tianjiaqunzu-52:before {
  content: "\e63f";
}

.icon-tianjiahaoyou1:before {
  content: "\e75c";
}

.icon-hanhan-01-01:before {
  content: "\e681";
}

.icon-guanbi:before {
  content: "\e652";
}

.icon-tianjiahaoyou:before {
  content: "\e626";
}

.icon-wodehaoyou:before {
  content: "\e61c";
}

.icon-xindehaoyou:before {
  content: "\e61d";
}

.icon-tongxunlu:before {
  content: "\e610";
}

.icon-changyonglianxiren1:before {
  content: "\e640";
}

.icon-wodequnzu:before {
  content: "\e6ff";
}

.icon-xiaoxi:before {
  content: "\e86f";
}

.icon-gengduo:before {
  content: "\e60e";
}
